1, The server should be able to scale well so that the turn functionality runs separately from the basic stun server functionality.
2. The new allocation for any user must be left to the server application. TURNS must not impose anything by itself. The server application will decide if the number of allocations per user must be imposed or not.
3. Regarding dynamic parameters such as bandwidth, the administrator should be able to set the usage during allocation and also change the same when the allocation is running. The idea is to provide all the possible interfaces for the administrator to control all the parameters. This is to handle scenarios where the administrator has provided 
   - with limited bandwidth per monta/week.
   - bandwidth per day.
   - wants to increase the bandwidth on the go, so should be able to increase the same when the allocation is running.
4. The new allocation must be notified by TURNS to server application by callback and the server application must then decide on the same in a different thread/process and approve/decline the allocation via a direct api call. The callback must not be used for approving/denying of the allocation.

